.btn-custom {
  --bs-btn-color: #fff !important;
  --bs-btn-bg: #6fbaf8 !important;
  --bs-btn-border-color: #6fbaf8 !important;
  --bs-btn-hover-color: #fff !important;
  --bs-btn-hover-bg: #5a95c7 !important;
  --bs-btn-hover-border-color: #5a95c7 !important;
  --bs-btn-active-bg: #4d7ea9 !important;
  --bs-btn-active-border-color: #4d7ea9 !important;
}
